@font-face {
  font-family: Generator;
  src: url('../fonts/GENERATOR\ PERSONAL\ USE.ttf');
}
@font-face {
  font-family: Lato;
  src: url('../fonts/Lato-Regular.ttf');
}

html {
  font-family: Lato, sans-serif;
  scroll-behavior: smooth;
}

.logo {
  font-family: Generator, sans-serif;
  margin-left: 15px;
}

.search-bar {
  width: 30%;
  margin-left: 18%;
}

.images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  gap: 1.125rem;
  margin-bottom: 1.5rem;
}

.images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.images img:hover {
  box-shadow: 0px 0px 6px 1px rgba(183, 28, 28, 0.35);
  width: 102%;
  height: 102%;
}

.edit-buttons {
  margin-top: 20px;
}

.about-circle {
  bottom: 70px;
  right: 24px;
}

.circle {
  width: 150px;
  margin-left: 75px;
  border: 2px #fff solid;
}

.circle-text {
  font-size: 14px;
}

a {
  outline: none !important;
}

#map {
  height: 271px;
  width: 100%;
}

.footer a {
  font-size: 14px;
}
