@font-face {
  font-family: Generator;
  src: url('../fonts/GENERATOR\ PERSONAL\ USE.ttf');
}
@font-face {
  font-family: Lato;
  src: url('../fonts/Lato-Regular.ttf');
}

html {
  font-family: Lato, sans-serif;
  scroll-behavior: smooth;
}

.logo {
  font-family: Generator, sans-serif;
  margin-left: 15px;
}

.search-bar {
  width: 30%;
  margin-left: 18%;
}

.images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  gap: 1.125rem;
  margin-bottom: 1.5rem;
}

.images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.images img:hover {
  box-shadow: 0px 0px 6px 1px rgba(183, 28, 28, 0.35);
  width: 102%;
  height: 102%;
}

.edit-buttons {
  margin-top: 20px;
}

.about-circle {
  bottom: 70px;
  right: 24px;
}

.circle {
  width: 150px;
  margin-left: 75px;
  border: 2px #fff solid;
}

.circle-text {
  font-size: 14px;
}

a {
  outline: none !important;
}

#map {
  height: 271px;
  width: 100%;
}

.footer a {
  font-size: 14px;
}

/********** MEDIA QUERIES **********/

/* Medium Screens */
@media screen and (max-width: 1694px) {
  .btn-actions {
    width: 20%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1550px) {
  .search-bar {
    margin-left: 30%;
  }

  .about-me {
    margin-right: 200px;
  }

  .btn {
    text-align: center;
    font-size: 10px;
    width: 60px;
    height: 30px;
  }

  .btn-style {
    width: 80px;
  }

  .btn-actions {
    width: 20%;
  }

  #canvas {
    width: 90%;
  }
}

/* SmartPhones Screen */
@media screen and (max-width: 769px) {
  .search-bar {
    margin-left: 60%;
  }

  .about-me {
    margin-right: 400px;
  }

  .tabs {
    font-variant: unicase;
  }

  .about-circle {
    bottom: 40px;
    right: 15px;
  }

  .btn {
    text-align: center;
    font-size: 10px;
    width: 60px;
    height: 30px;
  }

  .btn-style {
    width: 80px;
  }

  .btn-actions {
    width: 20%;
  }

  .social-btn {
    width: 20%;
  }

  #canvas {
    width: 100%;
  }

  .meme-wrapper {
    display: flex;
  }
}

/********** TOAST MESSAGE **********/
#toast-container {
  display: block;
  position: fixed;
  z-index: 10000;
}
@media only screen and (max-width: 600px) {
  #toast-container {
    min-width: 100%;
    bottom: 0%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
  #toast-container {
    left: 5%;
    bottom: 7%;
    max-width: 90%;
  }
}
@media only screen and (min-width: 993px) {
  #toast-container {
    top: 55%;
    right: 60%;
    max-width: 86%;
  }
}
